# Rust
target/
Cargo.lock
**/*.rs.bk

# WASM builds
#search_wasm/pkg/
#gzip_wasm/pkg/
#*.wasm
#*.wasm.map

# Node
node_modules/
package-lock.json

# IDE
.idea/
.vscode/
*.pdb

# OS
.DS_Store
Thumbs.db

# Build output
dist/
build/